body {
    height: 98vh;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(500px, 4fr);
}

.mainpage {
    background-color: grey;
}

.sidebar {
    background-color: bisque;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.todo-card {
    border: 2px solid red;
}

.sideContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1
}

.project {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem
}

.project button {
  width: 100%; 
}